In [59]:
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [60]:
df = pd.read_csv('final_dataset.csv')

In [61]:
df.shape

(17612, 4)

In [62]:
csv_file = pd.read_csv('index_info.csv')
index_info = csv_file['Index of data without headers'].tolist()

In [63]:
html_content = df.loc[0, 'html_content']

In [64]:
def get_pipe_encodings(index, html_content):
    # Parse HTML
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Find table
    table = soup.find('table')
    
    # Initialize PIPE encoded string
    pipe_encoded = ''
    
    # Iterate through rows and cells
    for row in table.find_all('tr'):
        for cell in row.find_all('td'):
            pipe_encoded += cell.text.strip() + ' | '
        pipe_encoded = pipe_encoded[:-3]  # Remove the last '|' character for each row
        pipe_encoded += '\n'  # Add newline after each row
    
    # Remove the last newline character
    pipe_encoded = pipe_encoded[:-1]

    if index in index_info:

        rows = pipe_encoded.split('\n')
    
        formatted_data = ''
        for idx, row in enumerate(rows, start=1):
            formatted_data += f"row {idx} : {row}\n"
        
    else:
        rows = pipe_encoded.split('\n')

        formatted_data = "col : " + rows[0] + "\n"  # First row is considered column names
        
        for idx, row in enumerate(rows[1:], start=1):
            formatted_data += f"row {idx} : {row}\n"
        
    return formatted_data

In [65]:
for index, row in tqdm(df.iterrows()):
    formatted_data = get_pipe_encodings(row['index'], row['html_content'])
    df.at[index, 'PIPE_encoding'] = formatted_data

17612it [00:30, 578.33it/s]

In [66]:
df

,index,html_content,question,answer,PIPE_encoding
0,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under stock and option pl...,17739,row 1 : 1 | common stock under stock and optio...
1,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is total ?,18851,row 1 : 1 | common stock under stock and optio...
2,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under the vertex purchase...,842,row 1 : 1 | common stock under stock and optio...
3,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under the vertex 401 ( k ...,270,row 1 : 1 | common stock under stock and optio...
4,2,"<html>\n <body>\n ""three factor formula"" ) . ...",What is basic earnings ( loss ) per share for ...,$ 0.88,col : 1 | ( $ in millions except per share amo...
...,...,...,...,...,...
17607,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2013 ?,48.5,"col : 1 | for the years ended december 31, | 2..."
17608,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2012 ?,55.0,"col : 1 | for the years ended december 31, | 2..."
17609,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is rsus and other for 2011 ?,18.8,"col : 1 | for the years ended december 31, | 2..."
17610,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is rsus and other for 2013 ?,23.8,"col : 1 | for the years ended december 31, | 2..."
17611,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2011 ?,60.5,"col : 1 | for the years ended december 31, | 2..."

In [67]:
pipe = df.loc[5, 'PIPE_encoding']

In [69]:
print(pipe)

col : 1 | ( $ in millions except per share amounts ) | year ended december 31 2013 1st qtr | year ended december 31 2013 2nd qtr | year ended december 31 2013 3rd qtr | year ended december 31 2013 4th qtr
row 1 : 2 | sales and service revenues | $ 1562 | $ 1683 | $ 1637 | $ 1938
row 2 : 3 | operating income ( loss ) | 95 | 116 | 127 | 174
row 3 : 4 | earnings ( loss ) before income taxes | 65 | 87 | 99 | 143
row 4 : 5 | net earnings ( loss ) | 44 | 57 | 69 | 91
row 5 : 6 | dividends declared per share | $ 0.10 | $ 0.10 | $ 0.10 | $ 0.20
row 6 : 7 | basic earnings ( loss ) per share | $ 0.88 | $ 1.14 | $ 1.38 | $ 1.86
row 7 : 8 | diluted earnings ( loss ) per share | $ 0.87 | $ 1.12 | $ 1.36 | $ 1.82

In [70]:
df.to_csv('convfinqa_in_different_format.csv', index=False)

In [71]:
def get_markdow_encodings(index, html_content):
    # Parse HTML
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Find table
    table = soup.find('table')
    
    # Initialize PIPE encoded string
    pipe_encoded = ''
    
    # Iterate through rows and cells
    for row in table.find_all('tr'):
        for cell in row.find_all('td'):
            pipe_encoded += cell.text.strip() + ' | '
        pipe_encoded += '\n'  # Add newline after each row
    
    # Remove the last newline character
    pipe_encoded = pipe_encoded[:-1]

    if index in index_info:

        return pipe_encoded
        
    else:
        lines = data.split('\n')

        # Split the second line by '|' and count the number of characters in each cell
        line2_cells = lines[1].split('|')[1:-1]  # Exclude the first and last element which are empty due to leading/trailing '|'
        cell_lengths = [len(cell.strip()) for cell in line2_cells]
        
        # Create a new line with dashes of the same length as each cell
        dashes_line = '| ' + ' | '.join(['-' * length for length in cell_lengths]) + ' |'
        
        # Modify the second line in the original data with the dashes line
        lines[1] = dashes_line
        
        formatted_data = '\n'.join(lines)
        
    return formatted_data

In [59]:
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [60]:
df = pd.read_csv('final_dataset.csv')

In [61]:
df.shape

(17612, 4)

In [62]:
csv_file = pd.read_csv('index_info.csv')
index_info = csv_file['Index of data without headers'].tolist()

In [63]:
html_content = df.loc[0, 'html_content']

In [64]:
def get_pipe_encodings(index, html_content):
    # Parse HTML
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Find table
    table = soup.find('table')
    
    # Initialize PIPE encoded string
    pipe_encoded = ''
    
    # Iterate through rows and cells
    for row in table.find_all('tr'):
        for cell in row.find_all('td'):
            pipe_encoded += cell.text.strip() + ' | '
        pipe_encoded = pipe_encoded[:-3]  # Remove the last '|' character for each row
        pipe_encoded += '\n'  # Add newline after each row
    
    # Remove the last newline character
    pipe_encoded = pipe_encoded[:-1]

    if index in index_info:

        rows = pipe_encoded.split('\n')
    
        formatted_data = ''
        for idx, row in enumerate(rows, start=1):
            formatted_data += f"row {idx} : {row}\n"
        
    else:
        rows = pipe_encoded.split('\n')

        formatted_data = "col : " + rows[0] + "\n"  # First row is considered column names
        
        for idx, row in enumerate(rows[1:], start=1):
            formatted_data += f"row {idx} : {row}\n"
        
    return formatted_data

In [65]:
for index, row in tqdm(df.iterrows()):
    formatted_data = get_pipe_encodings(row['index'], row['html_content'])
    df.at[index, 'PIPE_encoding'] = formatted_data

17612it [00:30, 578.33it/s]

In [66]:
df

,index,html_content,question,answer,PIPE_encoding
0,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under stock and option pl...,17739,row 1 : 1 | common stock under stock and optio...
1,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is total ?,18851,row 1 : 1 | common stock under stock and optio...
2,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under the vertex purchase...,842,row 1 : 1 | common stock under stock and optio...
3,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under the vertex 401 ( k ...,270,row 1 : 1 | common stock under stock and optio...
4,2,"<html>\n <body>\n ""three factor formula"" ) . ...",What is basic earnings ( loss ) per share for ...,$ 0.88,col : 1 | ( $ in millions except per share amo...
...,...,...,...,...,...
17607,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2013 ?,48.5,"col : 1 | for the years ended december 31, | 2..."
17608,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2012 ?,55.0,"col : 1 | for the years ended december 31, | 2..."
17609,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is rsus and other for 2011 ?,18.8,"col : 1 | for the years ended december 31, | 2..."
17610,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is rsus and other for 2013 ?,23.8,"col : 1 | for the years ended december 31, | 2..."
17611,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2011 ?,60.5,"col : 1 | for the years ended december 31, | 2..."

In [67]:
pipe = df.loc[5, 'PIPE_encoding']

In [69]:
print(pipe)

col : 1 | ( $ in millions except per share amounts ) | year ended december 31 2013 1st qtr | year ended december 31 2013 2nd qtr | year ended december 31 2013 3rd qtr | year ended december 31 2013 4th qtr
row 1 : 2 | sales and service revenues | $ 1562 | $ 1683 | $ 1637 | $ 1938
row 2 : 3 | operating income ( loss ) | 95 | 116 | 127 | 174
row 3 : 4 | earnings ( loss ) before income taxes | 65 | 87 | 99 | 143
row 4 : 5 | net earnings ( loss ) | 44 | 57 | 69 | 91
row 5 : 6 | dividends declared per share | $ 0.10 | $ 0.10 | $ 0.10 | $ 0.20
row 6 : 7 | basic earnings ( loss ) per share | $ 0.88 | $ 1.14 | $ 1.38 | $ 1.86
row 7 : 8 | diluted earnings ( loss ) per share | $ 0.87 | $ 1.12 | $ 1.36 | $ 1.82

In [70]:
df.to_csv('convfinqa_in_different_format.csv', index=False)

In [73]:
def get_markdow_encodings(index, html_content):
    # Parse HTML
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Find table
    table = soup.find('table')
    
    # Initialize PIPE encoded string
    pipe_encoded = ''
    
    # Iterate through rows and cells
    for row in table.find_all('tr'):
        for cell in row.find_all('td'):
            pipe_encoded += cell.text.strip() + ' | '
        pipe_encoded += '\n'  # Add newline after each row
    
    # Remove the last newline character
    pipe_encoded = pipe_encoded[:-1]

    if index in index_info:

        return pipe_encoded
        
    else:
        lines = pipe_encoded.split('\n')

        # Split the second line by '|' and count the number of characters in each cell
        line2_cells = lines[1].split('|')[1:-1]  # Exclude the first and last element which are empty due to leading/trailing '|'
        cell_lengths = [len(cell.strip()) for cell in line2_cells]
        
        # Create a new line with dashes of the same length as each cell
        dashes_line = '| ' + ' | '.join(['-' * length for length in cell_lengths]) + ' |'
        
        # Modify the second line in the original data with the dashes line
        lines[1] = dashes_line
        
        formatted_data = '\n'.join(lines)
        
    return formatted_data

In [74]:
for index, row in tqdm(df.iterrows()):
    formatted_data = get_markdow_encodings(row['index'], row['html_content'])
    df.at[index, 'markdown_encoding'] = formatted_data

17612it [00:30, 584.32it/s]

In [80]:
pipe = df.loc[0, 'markdown_encoding']

In [81]:
print(pipe)

1 | common stock under stock and option plans | 17739 |
2 | common stock under the vertex purchase plan | 842 |
3 | common stock under the vertex 401 ( k ) plan | 270 |
4 | total | 18851 |

In [82]:
def get_TSV_encodings(html_content):
    # Parse HTML
    soup = BeautifulSoup(html_content, 'html.parser')

    # Find the table
    table = soup.find('table')
    
    # Extract table data and format into TSV
    tsv_content = ''
    for row in table.find_all('tr'):
        cells = row.find_all('td')
        tsv_content += '\t'.join(cell.get_text(strip=True) for cell in cells) + '\n'

    return tsv_content

In [87]:
pipe = get_TSV_encodings(df.loc[5, 'html_content'])
print(pipe)

1	( $ in millions except per share amounts )	year ended december 31 2013 1st qtr	year ended december 31 2013 2nd qtr	year ended december 31 2013 3rd qtr	year ended december 31 2013 4th qtr
2	sales and service revenues	$ 1562	$ 1683	$ 1637	$ 1938
3	operating income ( loss )	95	116	127	174
4	earnings ( loss ) before income taxes	65	87	99	143
5	net earnings ( loss )	44	57	69	91
6	dividends declared per share	$ 0.10	$ 0.10	$ 0.10	$ 0.20
7	basic earnings ( loss ) per share	$ 0.88	$ 1.14	$ 1.38	$ 1.86
8	diluted earnings ( loss ) per share	$ 0.87	$ 1.12	$ 1.36	$ 1.82

In [88]:
for index, row in tqdm(df.iterrows()):
    formatted_data = get_TSV_encodings(row['html_content'])
    df.at[index, 'TSV_encoding'] = formatted_data

17612it [00:30, 583.56it/s]

In [89]:
df

,index,html_content,question,answer,PIPE_encoding,markdown_encoding,TSV_encoding
0,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under stock and option pl...,17739,row 1 : 1 | common stock under stock and optio...,1 | common stock under stock and option plans ...,1\tcommon stock under stock and option plans\t...
1,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is total ?,18851,row 1 : 1 | common stock under stock and optio...,1 | common stock under stock and option plans ...,1\tcommon stock under stock and option plans\t...
2,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under the vertex purchase...,842,row 1 : 1 | common stock under stock and optio...,1 | common stock under stock and option plans ...,1\tcommon stock under stock and option plans\t...
3,1,"<html>\n <body>\n ""distribution date"" ) . unt...",What is common stock under the vertex 401 ( k ...,270,row 1 : 1 | common stock under stock and optio...,1 | common stock under stock and option plans ...,1\tcommon stock under stock and option plans\t...
4,2,"<html>\n <body>\n ""three factor formula"" ) . ...",What is basic earnings ( loss ) per share for ...,$ 0.88,col : 1 | ( $ in millions except per share amo...,1 | ( $ in millions except per share amounts )...,1\t( $ in millions except per share amounts )\...
...,...,...,...,...,...,...,...
17607,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2013 ?,48.5,"col : 1 | for the years ended december 31, | 2...","1 | for the years ended december 31, | 2013 | ...","1\tfor the years ended december 31,\t2013\t201..."
17608,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2012 ?,55.0,"col : 1 | for the years ended december 31, | 2...","1 | for the years ended december 31, | 2013 | ...","1\tfor the years ended december 31,\t2013\t201..."
17609,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is rsus and other for 2011 ?,18.8,"col : 1 | for the years ended december 31, | 2...","1 | for the years ended december 31, | 2013 | ...","1\tfor the years ended december 31,\t2013\t201..."
17610,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is rsus and other for 2013 ?,23.8,"col : 1 | for the years ended december 31, | 2...","1 | for the years ended december 31, | 2013 | ...","1\tfor the years ended december 31,\t2013\t201..."
17611,1588,"<html>\n <body>\n zimmer holdings , inc . 201...",What is total expense pre-tax for 2011 ?,60.5,"col : 1 | for the years ended december 31, | 2...","1 | for the years ended december 31, | 2013 | ...","1\tfor the years ended december 31,\t2013\t201..."

In [93]:
print(df.loc[0, 'TSV_encoding'])

1	common stock under stock and option plans	17739
2	common stock under the vertex purchase plan	842
3	common stock under the vertex 401 ( k ) plan	270
4	total	18851

In [94]:
df.to_csv('dataset_with_all_encodings.csv', index=False)